/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700&display=swap');

/* Sets colours throughout website */
:root {
    --dark-green: #6e9075ff;
    --dark-black: #000000;
    --white: #F5F5F5;
    --shadow-gray: #3a3a3a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* With Font size of 62.5%, 1rem equals 10px */
html {
    font-size: 62.5%;  
    height: 100vh;  
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Merienda', sans-serif;
    font-size: 1.6rem;
    color: var(--dark-black);
    background: url("../images/Augusta.webp") no-repeat center center/cover;
    align-items: center;
}

#heading {
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    background-color: rgba(110, 144, 117, 0.8);
}

#logo {    
    height: 6rem;
    margin-top: 1rem;
    border-radius: 2rem;     
}

#quiz-area {
    position: absolute;
    width: 80%;
    height: 48rem;
    top: 12rem;
    background-color: rgba(110, 144, 117, 0.8);
    text-align: center;
    border-radius: 3rem;  
}

#instructions-list {
    list-style-type: none;
    margin-bottom: 1rem;
}

#name-box {
    margin-top: 3rem;   
}

.name-input, .btn {
    height: 3rem;
    width: 20rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    background-color: var(--white);
}

#start-quiz {
    margin-top: 3rem;

}

.start-btn {
    margin-bottom: 3rem;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0; 
    text-align: center;   
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    #quiz-area {
        top: 12rem; 
    }

    #name-box {
        margin-top: 5rem;
    }

    .name-input, .btn {
        height: 3.5rem;
        width: 25rem;
        font-size: 2rem;
        border-radius: 1rem;
    }

    .btn {
        margin-top: 4rem;
    }

    .start-btn {
        margin-right: 3rem;   
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    #quiz-area {
        width: 70%;
    }

}

/* Large devices (Desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

    #quiz-area {
        width: 60%;
        
    }

}


