/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merienda&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

:root {
    --dark-green: #6e9075ff;
    --dark-navy: #2b1679ff;
    --white: #F5F5F5;
    --shadow-gray: #3a3a3a;
}

/* General styles */
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Merienda';
    
}

main {

    /* Makes Main element longer to push down footer */
    flex: 1 0 auto;
    

}



header {
    background-color: var(--dark-green);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 1.6rem .6rem 1.6rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px var(--shadow-gray);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    

}

#logo {
    color: var(--dark-navy);
}

header a {
    color: var(--dark-navy);
    text-decoration: none;

}

h1, h2, h3 {
    
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

#menu {
    
    letter-spacing: 1px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1rem;
}



/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: var(--dark-green);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;

}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
}


#hero {
    height: 600px;
    width: 100%;
    background: url("../images/1st.jpg") no-repeat center center/cover;
    position: relative;
    

}

.cover-text {

    background-color: var(--dark-green);
    font-size: 1.5rem;
    position: absolute;
    bottom: 2rem;
    right: 0;
    width: 70%;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.cover-text>h2,
.cover-text>h3 {
    color: var(--dark-navy);
    letter-spacing: 1px;
}

/* Prize Section */
#prizes {
    background-color: var(--white);
    width: 100%;
    color: var(--dark-navy);

}

.horizontal-line {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--dark-navy);

}

#prizes h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 4rem;
}

.portugal img {
    width: 100%;
    border-radius: 40%;
    
}

.ashford-castle img {
    width: 100%;
    border-radius: 40%;

}

.k-club img {
    width: 100%;
    border-radius: 40%;
}




/* Gallery Styles */

.photos img {
    width: 100%;
    line-height: 1.6rem;

}

.photos {
    line-height: 0;
}

/* Registration section */

#register {
    background-color: var(--dark-green);
    color: var(--dark-navy);
    background-size: cover;
    background-position: 75%;
    padding: 2rem 1rem 0 1rem;
    flex-grow: 1;
}

#register-form {
    padding: 2rem;
}

#register-form h2 {
    margin-bottom: 1.5rem;

}

.text-input {
    color: var(--white);
    width: 100%;
    height: 2.5rem;
    margin: 1rem 0 1rem 0;
    border: 1px solid var(--white);
    border-radius: 2px;
    padding: 0 1rem;
}

.radio-buttons {
    width: 100%;
    
}

.reg-button {
    margin-top: 2rem;
    border-radius: 2px;
    padding: 1.5rem 3.2rem ;
    font-size: 1.6rem;
    background-color: var(--dark-navy);
    color: var(--white);
}

/* Map section */
#map-wrapper {

    height: 300px;
    
}

#map {
    height: 100%;
    width: 100%;
   
}

/* Footer */
#social-networks {
    background-color: var(--dark-green);
    text-align: center;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 2.5rem;
    padding: .5rem;
    color: var(--dark-navy);
    
}

/* Media query for Gallery: large or landscape phones (576px and up) Masonary view */
@media screen and (min-width: 576px) {
    .photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) 
{

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 8rem;
}

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 4rem;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Gallery */
    .photos {
            column-count: 3;
    }

    /* Hero */
    .cover-text {
        width: 300px;
        right: 0px;
    }



    /* Prizes section */

    #first-prize, #second-prize, #third-prize {
        display: flex;
        
    }

    .holiday, .portugal, .hotel-break,
    .ashford-castle, .golf-voucher, .k-club {
        flex-direction: row;
        width: 50%;
        
    }

    #second-prize {
        flex-direction: row-reverse;

    }
    

    .holiday, .hotel-break, .golf-voucher {
        text-align: center;
        align-self: center;
    }

    p {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    /* Registration section */

    #register {
        padding: 2rem 15rem 2rem 15rem;
    }

    


}
        /* Large devices (laptops and desktops, 992px and up) */
        @media screen and (min-width: 992px) 
{
       


            #menu a:hover {
                border-bottom: 1px solid #3a3a3a;
            }
        
        /* Prize section */


    
        .portugal img, .ashford-castle img, .k-club img {
        width: 80%;
        }

        #register {
            
            padding: 2rem 30rem 2rem 30rem;
        }
    
        
}